h1, h2, h3, h6 {
    display:flex;
    justify-content: center; 
}

.date{
    display: flex;

}

.framePic{
    display: flex;
    justify-content: center;

}

.blogPic{
    width: 75%;
    height: auto;
}

.blogBody{

    display:flex;
    justify-content: center;
    /* padding-left: 50px; */
}

